<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recepten</title>
  </head>
  <body>
    <h1>Nieuwe Recepten</h1>
    <br /><br />
    <form method="POST" action="/aanvraag">
      Naam: <input type="text" name="naam" size="20" /><br />
      Caloriën:<input type="text" name="caloriën" size="20" /><br />
      Ingrediënten: <input type="text" name="ingrediënten" size="20" /><br />
      Benodigde Tijd: <input type="text" name="benodigde_tijd" size="20" /><br />
      <br />
      <input type="submit" value="save" />
    </form>
  </body>
</html>
